* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(120, 195, 8);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}